body{    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;    
    font-family: 'Roboto Slab', serif;
}

/* --------------    Calculator  ---------------------- */
.calculator{    
  display: flex;
  justify-content: center;    
}

.calculator form{
  background-color: rgb(243, 243, 243);
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
}

/* Input Field Spin Button Hidden*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* --------------    Loan Details Table  ---------------------- */
#loan-details-table td{
   padding: 6px 25px;   
}

#loan-details-table tr{
  border-bottom: 1px solid rgb(83, 83, 83);
}

#loan-details-table tr:last-child{
  background-color: rgb(240, 240, 240);
  border: 0;
}


.chart-container{
  width: 300px;
  height: 300px;
}


/* --------------    Breakdown Table  ---------------------- */
#breakdown-table{
  width: 80%;
}

#breakdown-table th{
  background-color: rgb(177, 47, 0);
  color: whitesmoke;
}

#breakdown-table th, #breakdown-table td{
  border: 1px solid rgb(83, 83, 83);
  padding: 6px 25px;
  text-align: center;
}




/*****************************************************************************************************    
                                       Responsive Query
*****************************************************************************************************/
/* **********     For Table and Small Device    ***********/
@media only screen and (max-width:600px){
  .chart-container{
    width: 100%;   
    padding: 15px;
  }
  
  #breakdown-table{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #breakdown-table th, #breakdown-table td{    
    padding: 4px 8px;
    text-align: center;
  }
  
  
}






